%p#notice= notice


= link_to 'Edit', edit_story_path(@story)
\|
= link_to 'Back', stories_path

#myCarousel.carousel.slide
  %ol.carousel-indicators
    %li.active{ data: { target: "#myCarousel", 'slide-to' => 0}}
    %li{ data: { target: "#myCarousel", 'slide-to' => 1}}
    %li{ data: { target: "#myCarousel", 'slide-to' => 2}}
  .carousel-inner
    .item.active
      %h1 state 1
    .item
      %h1 state 2
    .item
      %h1 state 3
    
  %a.carousel-control.left{ href: '#myCarousel', data: { slide: "prev" }}
    &lsaquo;
  %a.carousel-control.right{ href: '#myCarousel', data: { slide: "next" }}
    &rsaquo;
